body {
  font-family: 'Karla', sans-serif;
  color: hsl(204, 43%, 93%);
  font-size: 16px;
}

.container {
  margin: auto;
  margin-top: 100px;
  width: 80%;
  background-color: white;
  box-shadow: 10px 10px 15px hsl(229, 6%, 66%);
}

.grid-container {
  margin: auto;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'top top'
      'left right';
  grid-gap: 0px;
}

.top-container {
  /* width:35%; */
  grid-area: top;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  background-color: white;
  padding: 60px;
}

.title {
  color: hsl(179, 62%, 43%);
}

.sub-title {
  color: hsl(71, 73%, 54%);
}

.title-desc {
  color: hsl(218, 22%, 67%);
}

.bottom-left {
  grid-area: left;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3; */
  background-color: hsl(179, 62%, 43%);
  padding: 60px;
}

.price {
  font-size: 40px;
  font-weight: 700;
}

.empty-space {
  height: 20px;
}

.btn {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: white;
  margin: 0;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  letter-spacing: 2px;
  width: 100%;
}

.bottom-right {
  grid-area: right;
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; */
  background-color: hsl(179, 62%, 43%);
  opacity: 0.7;
  padding: 60px;
}

.desc {
  line-height: 1;
}

@media (max-width: 800px) {

  .container {
    margin: auto;
    margin-top: 70px;
    width: 85%;
    background-color: white;
    box-shadow: 10px 10px 15px hsl(229, 6%, 66%);
  }


  .grid-container {
    margin: auto;
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'top'
        'left' 'right';
    grid-gap: 0px;
  }


}

/* }
### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px */
